<div>
    <app-navbar></app-navbar>
</div>
<div class="carousel">
  <img [src]="images[currentIndex]" alt="Slide {{currentIndex + 1}}" class="slide" [@fadeInOut]="currentIndex">
</div>
  <div class="col-12">
    <div class="container text-center">
      <!-- <div class="container">
        <div *ngFor="let offer of alternanceOffers" class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">{{ offer.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ offer.company }} - {{ offer.location }}</h6>
            <p class="card-text">{{ offer.description }}</p>
            <button (click)="likeOffer(offer)">Like</button>
          </div>
        </div>
      </div> -->
    </div>
</div>
<br>
<br>
<div class="container-fluid">
  <app-study-training-list></app-study-training-list>
</div>

  