<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon profil</title>
</head>

<body>
    <div class="button">
        <button type="button">Déconnexion</button>
    </div>
    <div class="container rounded bg-white mt-5 mb-5">

        <div id="centre">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">Edogaru</span><span
                            class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Mon profil</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Prénom</label><input type="text"
                                    class="form-control" placeholder="prénom" value=""></div>
                            <div class="col-md-6"><label class="labels">Nom</label><input type="text"
                                    class="form-control" value="" placeholder="nom"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Numéro de téléphone</label><input type="text"
                                    class="form-control" placeholder="numéro de téléphone" value="">
                            </div>
                            <div class="col-md-12"><label class="labels">Adresse</label><input type="text"
                                    class="form-control" placeholder="adresse" value=""></div>
                            <div class="col-md-12"><label class="labels">Code postal</label><input type="text"
                                    class="form-control" placeholder="code postal" value=""></div>
                            <div class="col-md-12"><label class="labels">Adresse e-mail</label><input type="text"
                                    class="form-control" placeholder="adresse e-mail" value=""></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                type="button">Sauvegarder
                            </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contenair">
        <div class="border">
            <h2>Vos entreprises favorites :</h2>
        </div>
        <div class="cards">
            <div class="border2" class="center-item">
                <p>entreprise 1 </p>
            </div>
            <div class="border2" class="center-item">
                <p>entreprise 2 </p>
            </div>
            <div class="border2" class="center-item">
                <p>entreprise 3 </p>
            </div>
            <div class="border2" class="center-item">
                <p>entreprise 4 </p>
            </div>
        </div>

    </div>








</body>

</html>