<div *ngIf="user && userProfile | async as profile">
  <h2>Profil</h2>
  <p>Nom: {{ profile.nom }}</p>
  <p>Prénom: {{ profile.prenom }}</p>
  <p>Téléphone: {{ profile.telephone }}</p>
</div>

<div *ngIf="likedFormations | async as formations">
  <h2>Formations aimées</h2>
  <div *ngFor="let formation of formations">
    <div class="card w-75 mb-2">
      <div class="card-header">
        {{ formation.ideaType }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ formation.title }}</h5>
        <p class="card-text">{{ formation.rncpLabel }}</p>
        
        <a href="{{ formation.onisepUrl }}" class="btn btn-primary">Go somewhere</a>
        <button (click)="unlikeFormation(formation.id)" class="btn btn-danger">Unlike</button> <!-- Ajout du bouton Unlike -->
      </div>
    </div>
  </div>
</div>
