<div *ngIf="user && userProfile | async as profile">
    <h2>Profil</h2>
    <p>Nom: {{ profile.nom }}</p>
    <p>Prénom: {{ profile.prenom }}</p>
    <p>Téléphone: {{ profile.telephone }}</p>
  
    <div *ngIf="likedOffers | async as offers">
      <h2>Offres d'alternance aimées</h2>
      <div class="container">
        <div class="card" *ngFor="let offer of offers">
          <div class="card-body">
            <h5 class="card-title">{{ offer.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ offer.company }} - {{ offer.location }}</h6>
            <p class="card-text">{{ offer.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  