<!-- <div>
    {{this.apiData}}
    <select [(ngModel)]="selectedMetier" (change)="getSelectedMetier()">
        Appeler la fonction getSelectedMetier() sur l'événement change
        <option *ngFor="let metier of metiers" [value]="metier">{{ metier }}</option>
    </select>
    <input type="text" [(ngModel)]="departement" placeholder="Entrez le département">
<button (click)="onSubmit()">Valider</button>
</div> -->

<div class="container-fluid border">
  <h3 class="h3">Rechercher votre alternance</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
    <div class="col-md-6">
      <label for="selectedMetier" class="form-label">Domaine</label>
      <select id="selectedMetier" formControlName="selectedMetier" class="form-control">
        <option *ngFor="let metier of metiers" [value]="metier">{{ metier }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inseecode" class="form-label">Code Postal</label>
      <input required type="number" formControlName="inseecode" class="form-control" id="inseecode" placeholder="69220, 54210">
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
  </form>
</div>
<br>
<br>
<div class="container-fluid">
  <div *ngIf="jobs.length > 0">
      <div *ngFor="let job of jobs">
          <div class="card w-75 mb-2 center">
              <div class="card-header">
                  {{ job.place.city }}
              </div>
              <div class="card-body">
                  <h5 class="card-title">{{ job.job.contractDescription }}</h5>
                  <!-- Remplacez "formation.title" par la propriété du titre dans vos données -->
                  <p class="card-text">{{ job.job.contractType }}</p>
                
                  <!-- Remplacez "formation.description" par la propriété de la description dans vos données -->
                  
                  <span *ngIf="isConnected" (click)="likeFormation(job)">
                      <i class="bi bi-star-fill"></i>
                  </span>
              </div>
          </div>
      </div>
    </div>
  <div *ngIf="jobs.length === 0" class="container-fluid border">
      <h3 class="h4">0 Résultats. Aucune offre d'alternance disponible.</h3>
  </div>
</div>

  
